html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'PressStart';
  src: url('./assets/fonts/PressStart2P-Regular.ttf') format('truetype');
  font-style: normal;
}

html {
  height: 100vh;
}

body {
  font-family: 'PressStart';
  background-color: #121212;
  color: #eeeeee;
  text-align: center;
  height: 100%;
  margin: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template: 75px 50px 65vmin 1fr / 1fr;
  grid-template-areas:
    'title'
    'score'
    'gs';
}

h1 {
  color: #cccccc;
  grid-area: title;
}

.score {
  grid-area: score;
  color: #cccccc;
  font-size: 1.1rem;
}

.game-screen {
  display: grid;
  border: 1px solid #aaaaaa;
  grid-area: gs;
  height: 65vmin;
  width: 65vmin;
  align-self: start;
  position: relative;
}

.square {
  border: 1px solid #48484810;
  /* transition: background-color 100ms; */
}

.square.active {
  background-color: #745f3a;
}

.square[data-val='1'] {
  background-color: #6c7ba3;
  border-color: #b9d3d6;
  transition: none;
}

.square[data-val='2'] {
  background-color: #79a1a0;
  border-color: #c9dada;
  transition: none;
}

.square[data-val='4'] {
  background-color: #da6d3b;
}

.dpad {
  display: grid;
  position: absolute;
  width: 100%;
  height: 100%;
  grid-template: 1fr 2fr 1fr / 1fr 1fr;
  grid-template-areas:
    'up up'
    'left right'
    'down down';
  gap: 1px;
}

.dpad-button {
  background-color: #ffffff0a;
  border: none;
}

.dpad-button:hover {
  background-color: #ffffff0f;
}

.dpad-button:active {
  box-shadow: inset 0px 0px 6px #ffffff11;
}

.dpad-arrow {
  opacity: 8%;
}

.dpad-up {
  grid-area: up;
}

.dpad-down {
  grid-area: down;
}

.dpad-left {
  grid-area: left;
}

.dpad-right {
  grid-area: right;
}

.overlay {
  font-size: calc(1.5rem + 1vw);
  background-color: #00000088;
  position: absolute;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
}

.overlay-head,
.overlay-hiscore {
  margin: 18px;
}

.entername-congrats,
.entername-prompt,
.entername-input {
  font-family: 'PressStart';
  font-size: calc(1.5rem + 1vw);
  text-align: center;
  margin: 12px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  outline: none;
  width: 80%;
}

.entername-input {
  background-color: #242424;
  width: 60%;
  padding: 12px;
}

.hiscore-container {
  display: grid;
  width: clamp(400px, 100%, 600px);
  gap: 12px;
  grid-auto-rows: 1fr;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-items: end;
  /* background-color: #181818; */
  padding: 18px;
}

.option {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  font-family: 'PressStart';
  color: #ffffff;
  padding: 12px;
  margin-top: 36px;
  background-color: #242424;
}

.option:hover {
  background-color: #282828;
}

.hiscore-name {
  justify-self: start;
}

@media (orientation: landscape) {
  body {
    grid-template: 75px 50px 80vmin / 1fr 1fr 1fr;
    grid-template-areas:
      'title title title'
      'score score score'
      '. gs dpad';
  }
}
/* 
.hiscore-score {
  width: min-content;
} */
