html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'PressStart';
  src: url('./assets/fonts/PressStart2P-Regular.ttf') format('truetype');
  font-style: normal;
}

html {
  height: 100vh;
}

body {
  font-family: 'PressStart';
  background-color: var(--main-background);
  color: var(--text-color);
  text-align: center;
  height: 100%;
  margin: 0;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template: 75px 50px 75vmin fr 1fr / 1fr;
  grid-template-areas:
    'title'
    'score'
    'gs'
    'pause';
}

h1 {
  color: var(--text-color);
  grid-area: title;
}

.score {
  grid-area: score;
  color: var(--text-color);
  font-size: 1.1rem;
}

.game-screen {
  background-color: var(--grid-background);
  display: grid;
  border: 1px solid var(--areaBorder-color);
  grid-area: gs;
  height: 75vmin;
  width: 75vmin;
  align-self: start;
  position: relative;
  color: var(--shadow-color);
}

.square {
  border: 1px solid var(--squareBorder-color);
  /* transition: background-color 100ms; */
}

.square[data-val='1'] {
  background-color: var(--snakeHead-color);
  border-color: var(--snakeHead-borderColor);
  box-shadow: var(--snakeHead-glow);
  transition: none;
}

.square[data-val='2'] {
  background-color: var(--snakeBody-color);
  border-color: var(--snakeBody-borderColor);
  box-shadow: var(--snakeBody-glow);

  transition: none;
}

.square[data-val='4'] {
  background-color: var(--food-color);
  animation: glow 4s ease-in 0s infinite;
  /* box-shadow: 0px 0px 2px #ffffff; */
}

select {
  background-color: var(--input-color);
  color: var(--text-color);
  font-family: 'PressStart';
  font-size: 1rem;
  padding: 8px;
  margin: 12px;
}

@keyframes glow {
  0%,
  100% {
    box-shadow: 0px 0px 10px var(--foodGlow-color);
  }
  50% {
    box-shadow: 0px 0px 2px var(--food-color);
  }
}

.dpad {
  display: grid;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  grid-template: 1fr 2fr 1fr / 1fr 1fr;
  grid-template-areas:
    'up up'
    'left right'
    'down down';
  gap: 1px;
}

.dpad-button {
  background-color: #ffffff0a;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.dpad-button:hover {
  background-color: #ffffff0f;
}

.dpad-button:active {
  box-shadow: inset 0px 0px 6px #ffffff11;
}

.dpad-arrow {
  opacity: 20%;
  pointer-events: none;
}

.dpad-up {
  grid-area: up;
}

.dpad-down {
  grid-area: down;
}

.dpad-left {
  grid-area: left;
}

.dpad-right {
  grid-area: right;
}

.overlay {
  font-size: calc(1.5rem + 1vw);
  background-color: #00000088;
  position: absolute;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: none;
}

.overlay-head,
.overlay-hiscore {
  margin: 18px;
}

.overlay-text,
.option {
  color: var(--text-color);
}

.entername-congrats,
.entername-prompt,
.entername-input {
  font-family: 'PressStart';
  font-size: calc(1.5rem + 1vw);
  text-align: center;
  margin: 12px;
  background-color: transparent;
  border: none;
  outline: none;
  width: 80%;
}

.entername-input {
  background-color: var(--input-color);
  color: var(--text-color);
  width: 60%;
  padding: 12px;
}

.hiscore-container {
  display: grid;
  width: clamp(400px, 100%, 600px);
  gap: 12px;
  grid-auto-rows: 1fr;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-items: end;
  /* background-color: #181818; */
  padding: 18px;
}

.options-container {
  display: flex;
}

.option {
  border: none;
  font-size: 1rem;
  font-family: 'PressStart';
  padding: 12px;
  margin: 36px 12px 36px 12px;
  background-color: var(--button-color);
}

.option:hover {
  background-color: var(--button-hover);
}

.option.pause-button {
  grid-area: pause;
  align-self: start;
  margin-top: 12px;
}

.continue-button {
  display: none;
}

.hiscore-name {
  justify-self: start;
}

@media (orientation: portrait) {
  body {
    grid-template: 50px 25px 86vmin 1fr / 1fr;
    grid-template-areas:
      'title'
      'score'
      'gs'
      'pause';
  }
  h1 {
    font-size: 1.5rem;
  }
  .score {
    font-size: 0.8rem;
  }
  .game-screen {
    height: 86vmin;
    width: 86vmin;
  }
}
/* 
.hiscore-score {
  width: min-content;
} */
